.fails-text {
    color: darkred;
}

.month-data {
    margin-left: 400px;
    padding: 5px;
}

.current_day {
    background-color: #F2FFCF;
}
.btn.btn-sm.btn-outline-secondary {
    border-color: white;
}

.main-container {
    margin-top: 15px;
}